<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <%= htmlWebpackPlugin.options.widgets.meta %>
</head>
<body class="body _home">
    <%= htmlWebpackPlugin.options.widgets.header %>
    <%= htmlWebpackPlugin.options.widgets.nav %>
    <%= htmlWebpackPlugin.options.widgets.navMobile %>

    <main class="main _home" role="main">
        <%= htmlWebpackPlugin.options.widgets.preview %>
        <%= htmlWebpackPlugin.options.widgets.factoidsMain %>
        <section class="section main-section _pb0">
            <div class="section__big-title">
                <div class="container">
                    <h2 data-aos="slide-up" data-aos-duration="2000" role="heading">
                        О компа&shy;нии
                    </h2>
                </div>
            </div>

            <div class="container">
                <div class="main-section__cols">
                    <div class="main-section__col _content">
                        <div class="main-section__text text _big">
                            <p style="text-align: left;">Специалисты Парадайс всегда в курсе последних изменений в сфере недвижимости и формируют актуальные прогнозы итогов сделки для каждого уникального случая.&nbsp;</p>
                            <p style="text-align: left;">Мы сотрудничаем с надежными представителями финансового и строительного рынка, имеем широкую базу объектов и предлагаем полный спектр услуг, а всю организацию совершения сделок берем на себя, что значит - никаких лишних действий и забот для наших клиентов.&nbsp;</p>
                            <p style="text-align: left;">С нами вы реализуете свой запрос с максимальной выгодой.</p>
                            <a class="main-section__btn btn" href="./o-kompanii/" role="link">Подробнее о Парадайс</a>
                        </div>
                    </div>

                    <div class="main-section__col _img">
                        <video class="main-section__video lazy _mr" width="100%" poster="./assets/cache_image/experience/team-video-bg_495x698_8ec.jpg" autoplay loop playsinline muted>
                            <source type="video/mp4" data-src="./assets/video/team.mp4" src="./assets/video/team.mp4">
                        </video>
                    </div>
                </div>
            </div>
        </section>

        <%= htmlWebpackPlugin.options.widgets.advantages %>
        <%= htmlWebpackPlugin.options.widgets.teamImg %>

        <%= htmlWebpackPlugin.options.widgets.reviews %>

        <section class="section main-section _pt0 _pb0">
            <div class="section__big-title _no-border _mb0">
                <div class="container">
                    <h2 data-aos="slide-up" data-aos-duration="2000" role="heading" class="aos-init aos-animate">Услуги</h2>
                </div>
            </div>

            <div class="services">
                <a class="services__item" href="./kvartiryi/" role="link">
                    <picture class="services__img">
                        <source type="image/webp" media="(min-width: 992px)" data-srcset="./assets/cache_image/services/services-img-12x_960x960_33f.webp 2x, ./assets/cache_image/services/services-img-12x_480x480_a47.webp 1x" srcset="./assets/cache_image/services/services-img-12x_960x960_33f.webp 2x, ./assets/cache_image/services/services-img-12x_480x480_a47.webp 1x">
                        <source type="image/jpeg" media="(min-width: 992px)" data-srcset="./assets/cache_image/services/services-img-12x_960x960_751.jpg 2x, ./assets/cache_image/services/services-img-12x_480x480_dcb.jpg 1x" srcset="./assets/cache_image/services/services-img-12x_960x960_751.jpg 2x, ./assets/cache_image/services/services-img-12x_480x480_dcb.jpg 1x">
                        <source type="image/webp" media="(max-width: 991px)" data-srcset="./assets/cache_image/services/services-img-12x_128x128_547.webp 2x, ./assets/cache_image/services/services-img-12x_64x64_338.webp 1x" srcset="./assets/cache_image/services/services-img-12x_128x128_547.webp 2x, ./assets/cache_image/services/services-img-12x_64x64_338.webp 1x">
                        <source type="image/jpeg" media="(max-width: 991px)" data-srcset="./assets/cache_image/services/services-img-12x_128x128_10f.jpg 2x, ./assets/cache_image/services/services-img-12x_64x64_af0.jpg 1x" srcset="./assets/cache_image/services/services-img-12x_128x128_10f.jpg 2x, ./assets/cache_image/services/services-img-12x_64x64_af0.jpg 1x">
                        <img class="lazy entered loaded" src="./assets/cache_image/services/services-img-12x_480x480_dcb.jpg" data-src="./assets/cache_image/services/services-img-12x_480x480_dcb.jpg" alt="Квартиры" width="480" height="480" role="presentation">
                    </picture>

                    <div class="services__title">Квартиры</div>
                </a>
                <a class="services__item" href="./trejdIn/" role="link">
                    <picture class="services__img">
                        <source type="image/webp" media="(min-width: 992px)" data-srcset="./assets/cache_image/services/services-img-22x_960x960_33f.webp 2x, ./assets/cache_image/services/services-img-22x_480x480_a47.webp 1x" srcset="./assets/cache_image/services/services-img-22x_960x960_33f.webp 2x, ./assets/cache_image/services/services-img-22x_480x480_a47.webp 1x">
                        <source type="image/jpeg" media="(min-width: 992px)" data-srcset="./assets/cache_image/services/services-img-22x_960x960_751.jpg 2x, ./assets/cache_image/services/services-img-22x_480x480_dcb.jpg 1x" srcset="./assets/cache_image/services/services-img-22x_960x960_751.jpg 2x, ./assets/cache_image/services/services-img-22x_480x480_dcb.jpg 1x">
                        <source type="image/webp" media="(max-width: 991px)" data-srcset="./assets/cache_image/services/services-img-22x_128x128_547.webp 2x, ./assets/cache_image/services/services-img-22x_64x64_338.webp 1x" srcset="./assets/cache_image/services/services-img-22x_128x128_547.webp 2x, ./assets/cache_image/services/services-img-22x_64x64_338.webp 1x">
                        <source type="image/jpeg" media="(max-width: 991px)" data-srcset="./assets/cache_image/services/services-img-22x_128x128_10f.jpg 2x, ./assets/cache_image/services/services-img-22x_64x64_af0.jpg 1x" srcset="./assets/cache_image/services/services-img-22x_128x128_10f.jpg 2x, ./assets/cache_image/services/services-img-22x_64x64_af0.jpg 1x">
                        <img class="lazy entered loaded" src="./assets/cache_image/services/services-img-22x_480x480_dcb.jpg" data-src="./assets/cache_image/services/services-img-22x_480x480_dcb.jpg" alt="Трейд-ин" width="480" height="480" role="presentation">
                    </picture>

                    <div class="services__title">Трейд-ин</div>
                </a>
                <a class="services__item" href="./novostrojki/" role="link">
                    <picture class="services__img">
                        <source type="image/webp" media="(min-width: 992px)" data-srcset="./assets/cache_image/services/services-img-32x_960x960_33f.webp 2x, ./assets/cache_image/services/services-img-32x_480x480_a47.webp 1x" srcset="./assets/cache_image/services/services-img-32x_960x960_33f.webp 2x, ./assets/cache_image/services/services-img-32x_480x480_a47.webp 1x">
                        <source type="image/jpeg" media="(min-width: 992px)" data-srcset="./assets/cache_image/services/services-img-32x_960x960_751.jpg 2x, ./assets/cache_image/services/services-img-32x_480x480_dcb.jpg 1x" srcset="./assets/cache_image/services/services-img-32x_960x960_751.jpg 2x, ./assets/cache_image/services/services-img-32x_480x480_dcb.jpg 1x">
                        <source type="image/webp" media="(max-width: 991px)" data-srcset="./assets/cache_image/services/services-img-32x_128x128_547.webp 2x, ./assets/cache_image/services/services-img-32x_64x64_338.webp 1x" srcset="./assets/cache_image/services/services-img-32x_128x128_547.webp 2x, ./assets/cache_image/services/services-img-32x_64x64_338.webp 1x">
                        <source type="image/jpeg" media="(max-width: 991px)" data-srcset="./assets/cache_image/services/services-img-32x_128x128_10f.jpg 2x, ./assets/cache_image/services/services-img-32x_64x64_af0.jpg 1x" srcset="./assets/cache_image/services/services-img-32x_128x128_10f.jpg 2x, ./assets/cache_image/services/services-img-32x_64x64_af0.jpg 1x">
                        <img class="lazy entered loaded" src="./assets/cache_image/services/services-img-32x_480x480_dcb.jpg" data-src="./assets/cache_image/services/services-img-32x_480x480_dcb.jpg" alt="Новостройки" width="480" height="480" role="presentation">
                    </picture>

                    <div class="services__title">Новостройки</div>
                </a>
                <a class="services__item" href="./investirovanie/" role="link">
                    <picture class="services__img">
                        <source type="image/webp" media="(min-width: 992px)" data-srcset="./assets/cache_image/services/services-img-42x_960x960_33f.webp 2x, ./assets/cache_image/services/services-img-42x_480x480_a47.webp 1x" srcset="./assets/cache_image/services/services-img-42x_960x960_33f.webp 2x, ./assets/cache_image/services/services-img-42x_480x480_a47.webp 1x">
                        <source type="image/jpeg" media="(min-width: 992px)" data-srcset="./assets/cache_image/services/services-img-42x_960x960_751.jpg 2x, ./assets/cache_image/services/services-img-42x_480x480_dcb.jpg 1x" srcset="./assets/cache_image/services/services-img-42x_960x960_751.jpg 2x, ./assets/cache_image/services/services-img-42x_480x480_dcb.jpg 1x">
                        <source type="image/webp" media="(max-width: 991px)" data-srcset="./assets/cache_image/services/services-img-42x_128x128_547.webp 2x, ./assets/cache_image/services/services-img-42x_64x64_338.webp 1x" srcset="./assets/cache_image/services/services-img-42x_128x128_547.webp 2x, ./assets/cache_image/services/services-img-42x_64x64_338.webp 1x">
                        <source type="image/jpeg" media="(max-width: 991px)" data-srcset="./assets/cache_image/services/services-img-42x_128x128_10f.jpg 2x, ./assets/cache_image/services/services-img-42x_64x64_af0.jpg 1x" srcset="./assets/cache_image/services/services-img-42x_128x128_10f.jpg 2x, ./assets/cache_image/services/services-img-42x_64x64_af0.jpg 1x">
                        <img class="lazy entered loaded" src="./assets/cache_image/services/services-img-42x_480x480_dcb.jpg" data-src="./assets/cache_image/services/services-img-42x_480x480_dcb.jpg" alt="Инвестирование" width="480" height="480" role="presentation">
                    </picture>

                    <div class="services__title">Инвестирование</div>
                </a>
            </div>
        </section>

        <%= htmlWebpackPlugin.options.widgets.feedback %>
    </main>

    <%= htmlWebpackPlugin.options.widgets.footer %>
    <%= htmlWebpackPlugin.options.widgets.modalFeedback %>
    <%= htmlWebpackPlugin.options.widgets.thankYou %>

    <%= htmlWebpackPlugin.options.widgets.scripts %>
    <%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
