<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Шаблон контентной страницы</title>
    <%= htmlWebpackPlugin.options.widgets.meta %>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.widgets.header %>
<%= htmlWebpackPlugin.options.widgets.nav %>
<%= htmlWebpackPlugin.options.widgets.navMobile %>

<main class="main _pb60" role="main">
    <div class="container text">
        <div class="text__width">
            <h1 class="h2">ПОЛИТИКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</h1>
            <p>Дата публикации редакции: "08" ноября 2022 г.</p>
            <p>&zwj;Настоящая Политика обработки персональных данных (далее – «Политика») размещена на сайте в сети Интернет (далее – «Сайт»).</p>
            <p>&zwj;Использование сервисов Сайта означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональных данных, как это предусмотрено Политикой. В случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта.</p>
            <h2>ОБЩИЕ ПОЛОЖЕНИЯ</h2>
            <p>1.1. В рамках Политики под персональной информацией Пользователя понимаются:</p>
            <p>1.1.1. Персональная информация, которую Пользователь предоставляет о себе самостоятельно при заполнении заявки на сотрудничество или в процессе использования элементов Сайта, включая персональные данные Пользователя (включая имя, место работы, должность, адрес электронной почты или телефон и иные данные, которые Пользователь самостоятельно отправляет посредством Сайта).</p>
            <p>1.1.2. Данные, которые автоматически передаются сервисам Сайта в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к сервисам), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к сервисам, адреса запрашиваемых страниц и иная подобная информация.</p>
            <p>1.2. Настоящая Политика применяется только к Сайту. Сайт не контролирует и не несет ответственности за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте.</p>
            <h2>2. ЦЕЛИ И ПРИНЦИПЫ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЕЙ</h2>
            <p>2.1. Сайт собирает и хранит только ту персональную информацию, которая необходима для предоставления сервисов или исполнения соглашений и договоров с Пользователем, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.</p>
            <p>&zwj;В случае получения уведомления от Пользователя об отзыве согласия на обработку персональной информации Администрация Сайта прекращает обработку персональной информации Пользователя в срок, не превышающий 10 (десять) рабочих дней с момента получения.</p>
            <p>2.2. Персональную информацию Пользователя Сайт обрабатывает в следующих целях:</p>
            <p>2.2.1. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработку запросов и заявок от Пользователя.</p>
            <p>2.2.2. Уведомления Пользователя Сайта информационного или рекламного характера.</p>
            <p>2.2.3. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Сайта.</p>
            <p>2.3. Настоящим Пользователь выражает полное согласие с условиями с целями обработки персональной информации Администрацией Сайта, включая уведомления рекламного характера. Пользователь имеет право отказаться от данных уведомлений с помощью функционала внутри рекламных и/или информационных сообщений, либо путем отправки письма в свободной форме по контактному адресу Администрации Сайта, как это предусмотрено в разделе 7 Политики.</p>
            <p>2.4. Обработка персональной информации Администрацией Сайта основана на следующих принципах: <br>a) легитимность целей, методов обработки персональной информации и добросовестности;<br>б) цели обработки персональной информации, соответствующие целям, предопределенным и заявленным при сборе персональной информации, а также полномочиям Администрации Сайта обрабатывать их;<br>в) объем и характер обрабатываемых персональной информации, а также методы обработки персональной информации, соответствующие целям их обработки;<br>г) отсутствие объединения баз данных, содержащих персональные данные, когда такие базы данных были первоначально созданы для несовместимых целей.</p>
        </div>
    </div>
</main>

<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.modalFeedback %>
<%= htmlWebpackPlugin.options.widgets.thankYou %>
<%= htmlWebpackPlugin.options.widgets.scripts %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
