<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Трейд-ин</title>
    <%= htmlWebpackPlugin.options.widgets.meta %>
</head>
<body class="body _home">
<%= htmlWebpackPlugin.options.widgets.header %>
<%= htmlWebpackPlugin.options.widgets.nav %>
<%= htmlWebpackPlugin.options.widgets.navMobile %>

<main class="main" role="main">
    <%= htmlWebpackPlugin.options.widgets.innerIntroTrejd %>
    <%= htmlWebpackPlugin.options.widgets.serviceImgTrejd %>
    <%= htmlWebpackPlugin.options.widgets.plusesBlackTrejd %>
    <%= htmlWebpackPlugin.options.widgets.plusesGreyTrejd %>
    <%= htmlWebpackPlugin.options.widgets.reviewsPrimary %>
    <%= htmlWebpackPlugin.options.widgets.partnersGridTrejd %>
    <%= htmlWebpackPlugin.options.widgets.video %>
    <%= htmlWebpackPlugin.options.widgets.feedback %>
</main>

<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.scripts %>
<%= htmlWebpackPlugin.options.widgets.modalFeedback %>
<%= htmlWebpackPlugin.options.widgets.thankYou %>
<%= htmlWebpackPlugin.options.widgets.modalPartners %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
