.article-partner-modal {
    &__picture {
        display: flex;
        padding: 30px;
        min-height: 330px;
        align-items: center;
        justify-content: center;
        background-color: #F8F8F8;

        @media (max-width: 1280px) {

        }

        img {
            display: block;
        }
    }


    &__content {
        gap: 24px;
        width: 100%;
        display: flex;
        padding: 80px 60px;
        flex-direction: column;
        background-color: $color_white;

        @media (max-width: 1280px) {
            padding: 80px 30px;
        }
    }

    &__title {
        line-height: 1;
        font-size: 64px;
        margin-bottom: 0;
        font-weight: 500;
        color: rgba(37, 37, 37, 1);

        @media (max-width: 1280px) {
            font-size: 32px;
            font-weight: 400;
            line-height: 1.25;
        }
    }

    &__main {
        color: #252525;
        font-size: 24px;
        line-height: 1.5;

        & :last-child {
            margin-bottom: 0;
        }

        @media (max-width: 1280px) {

        }
    }

    &__toolbar {

    }
}
