.checkbox {
    gap: 10px;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    //align-items: center;
    padding: 11px 0 11px 13px;
    background-color: $color_white;
    border: 1px solid rgba(37, 37, 37, 0.1);

    &__input {
        display: none;
        visibility: hidden;

        &:checked {
            & + .checkbox__icon {
                border: 8px solid rgba(37, 37, 37, 0.25);
            }
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: 50px;
        justify-content: center;
        border: 1px solid rgba(37, 37, 37, 0.5);
    }

    &__text {
        font-size: 18px;
        line-height: 24px;
    }
}
