.feedback {
	&__cols {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		&._grey {
			flex-wrap: wrap;
		}
	}

	&__title {
		width: 29%;
		margin-right: 60px;

		&._long {
			width: 40%;
			margin-right: 30px;

			@media (max-width: 991px) {
				width: 100% !important;
				margin-bottom: 30px;
				font-size: 1rem;

				& br {
					display: none !important;
				}
			}

			@media (max-width: 575px) {
				display: block;
			}
		}

		@media (max-width: 991px) {
			width: 22%;
			font-size: .66rem;
		}

		@media (max-width: 575px) {
			/*font-size: .75rem;
			width: 24%;
			margin-right: 40px;*/
			display: none;
		}
	}

	&__form {
		width: calc(50% - 30px);

		@media (max-width: 991px) {
			width: 70%;
		}

		@media (max-width: 575px) {
			//width: 62%;
			width: 100%;
			margin-top: -10px;
		}
	}
}