.container {
	width: 100%;
	max-width: 1512px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 37px;

	@media (max-width: 991px) {
		padding: 0 24px;
	}

	@media (max-width: 575px) {
		padding: 0 12px;
	}
}