.picture {
    display: block;

    &--advantage {
        animation-name: openAdvantage;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-delay: 0s;

        @media (max-width: 1512px) and (min-width: 992px) {
            margin-left: -37px;
        }

        &.fade-out {
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        &.fade-in {
            opacity: 1;
            transition: opacity 0.5s ease;
        }

        &.isHidden {
            display: none;
        }
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}
