<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Аренда недвижимости</title>
    <%= htmlWebpackPlugin.options.widgets.meta %>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.widgets.header %>
<%= htmlWebpackPlugin.options.widgets.nav %>
<%= htmlWebpackPlugin.options.widgets.navMobile %>

<main class="main" role="main">
    <%= htmlWebpackPlugin.options.widgets.innerIntroArenda %>
    <%= htmlWebpackPlugin.options.widgets.serviceImgArenda %>
    <%= htmlWebpackPlugin.options.widgets.serviceBlocksArenda %>
    <%= htmlWebpackPlugin.options.widgets.plusesBlackArenda %>
    <%= htmlWebpackPlugin.options.widgets.feedback %>
</main>

<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.scripts %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
