<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О компании</title>
    <%= htmlWebpackPlugin.options.widgets.meta %>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.widgets.header %>
<%= htmlWebpackPlugin.options.widgets.nav %>
<%= htmlWebpackPlugin.options.widgets.navMobile %>

<main class="main" role="main">
    <%= htmlWebpackPlugin.options.widgets.innerIntroCompany %>

    <%= htmlWebpackPlugin.options.widgets.videoCompany %>

    <%= htmlWebpackPlugin.options.widgets.directorCompany %>

    <%= htmlWebpackPlugin.options.widgets.plusesBlackCompany %>

    <section class="section _pt0 _pb0">
        <picture class="pluses__img" data-aos="animation-picture" data-aos-offset="200">
            <source type="image/webp" media="(min-width: 768px)" data-srcset="./assets/cache_image/team/600a8506-2_3840x2106_c5c.webp 2x, ./assets/cache_image/team/600a8506-2_1920x1053_524.webp 1x">
            <source type="image/jpeg" media="(min-width: 768px)" data-srcset="./assets/cache_image/team/600a8506-2_3840x2106_1a7.jpg 2x, ./assets/cache_image/team/600a8506-2_1920x1053_42a.jpg 1x">
            <source type="image/webp" media="(max-width: 767px)" data-srcset="./assets/cache_image/team/600a8506-2_1536x843_e8b.webp 2x, ./assets/cache_image/team/600a8506-2_768x422_4a1.webp 1x">
            <source type="image/jpeg" media="(max-width: 767px)" data-srcset="./assets/cache_image/team/600a8506-2_1536x843_f6a.jpg 2x, ./assets/cache_image/team/600a8506-2_768x422_a86.jpg 1x">
            <img class="lazy" src="./assets/cache_image/team/600a8506-2_1920x1053_212.jpg" data-src="./assets/cache_image/team/600a8506-2_1920x1053_42a.jpg" alt="Команда" width="1920" height="1053" role="presentation">
        </picture>
    </section>

    <section class="section agents _black">
        <div class="container">
            <div class="section__three-cols agents__cols">
                <div class="section__three-col animation-wrap _left">
                    <h2 class="h1 agents__h2" data-aos="slide-up" data-aos-duration="2500" role="heading">Команда Парадайс</h2>
                </div>

                <div class="section__three-col agents__small-col _fix180">
                    <div class="agents__small">Мы работаем с объектами недвижимости</div>
                </div>

                <div class="section__three-col agents__description-col _w50">
                    <div class="agents__description text">
                        <p style="text-align: left;">Команда «Парадайс» полностью погружена в процесс и знает все тонкости работы с недвижимостью.</p>
                        <p style="text-align: left;">Положительные <a href="otzyivyi/">отзывы</a> наших клиентов подтверждают успешное, выгодное, результативное сотрудничество.</p>						</div>
                </div>
            </div>

            <div class="agents__carousel-wrap">
                <button class="carousel__arrow agents__arrow _prev" type="button" role="button">
                    <svg width="25" height="25">
                        <use xlink:href="./assets/img/sprite.svg#carousel-arrow"></use>
                    </svg>
                </button>

                <button class="carousel__arrow agents__arrow _next" type="button" role="button">
                    <svg width="25" height="25">
                        <use xlink:href="./assets/img/sprite.svg#carousel-arrow"></use>
                    </svg>
                </button>

                <div class="agents__carousel swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-0">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/snimok-ekrana-2025-01-21-v-16.40.29_720x560_7ee.webp 2x, ./assets/cache_image/snimok-ekrana-2025-01-21-v-16.40.29_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/snimok-ekrana-2025-01-21-v-16.40.29_720x560_b37.jpg 2x, ./assets/cache_image/snimok-ekrana-2025-01-21-v-16.40.29_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/snimok-ekrana-2025-01-21-v-16.40.29_360x280_024.jpg" data-src="./assets/cache_image/snimok-ekrana-2025-01-21-v-16.40.29_360x280_3f0.jpg" alt="Роман Рахматуллин" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Роман</span><span>Рахматуллин</span></div>
                                <div class="agents__text">Ответственный за развитие агентства во всех направлениях.</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-1">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/snimok-ekrana-2025-01-21-v-16.41.38_720x560_7ee.webp 2x, ./assets/cache_image/snimok-ekrana-2025-01-21-v-16.41.38_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/snimok-ekrana-2025-01-21-v-16.41.38_720x560_b37.jpg 2x, ./assets/cache_image/snimok-ekrana-2025-01-21-v-16.41.38_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/snimok-ekrana-2025-01-21-v-16.41.38_360x280_024.jpg" data-src="./assets/cache_image/snimok-ekrana-2025-01-21-v-16.41.38_360x280_3f0.jpg" alt="Маргарита Листова" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Маргарита</span><span>Листова</span></div>
                                <div class="agents__text">Контролирует качество предоставления услуг агентства</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-2">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/agents/galina-voronova_720x560_7ee.webp 2x, ./assets/cache_image/agents/galina-voronova_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/agents/galina-voronova_720x560_b37.jpg 2x, ./assets/cache_image/agents/galina-voronova_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/agents/galina-voronova_360x280_024.jpg" data-src="./assets/cache_image/agents/galina-voronova_360x280_3f0.jpg" alt="Галина Воронова" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Галина</span><span>Воронова</span></div>
                                <div class="agents__text">Обеспечивает юридическую оценку всех процессов внутри компании</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-3">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-13-v-12.55.27_720x560_7ee.webp 2x, ./assets/cache_image/snimok-ekrana-2024-08-13-v-12.55.27_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-13-v-12.55.27_720x560_b37.jpg 2x, ./assets/cache_image/snimok-ekrana-2024-08-13-v-12.55.27_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/snimok-ekrana-2024-08-13-v-12.55.27_360x280_024.jpg" data-src="./assets/cache_image/snimok-ekrana-2024-08-13-v-12.55.27_360x280_3f0.jpg" alt="Алексей Гвоздев" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Алексей</span><span>Гвоздев</span></div>
                                <div class="agents__text">Продажа и покупка недвижимости по Москве и МО.</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-4">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/agents/agent-12x_720x560_7ee.webp 2x, ./assets/cache_image/agents/agent-12x_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/agents/agent-12x_720x560_b37.jpg 2x, ./assets/cache_image/agents/agent-12x_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/agents/agent-12x_360x280_024.jpg" data-src="./assets/cache_image/agents/agent-12x_360x280_3f0.jpg" alt="Екатерина Матвеева" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Екатерина</span><span>Матвеева</span></div>
                                <div class="agents__text">Продажа и покупка недвижимости в Москве и Московской области.</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-5">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/agents/agent3-x2_720x560_7ee.webp 2x, ./assets/cache_image/agents/agent3-x2_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/agents/agent3-x2_720x560_b37.jpg 2x, ./assets/cache_image/agents/agent3-x2_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/agents/agent3-x2_360x280_024.jpg" data-src="./assets/cache_image/agents/agent3-x2_360x280_3f0.jpg" alt="Алла  Акчурина" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Алла </span><span>Акчурина</span></div>
                                <div class="agents__text">Продажа квартир и домов рядом с Москвой. Сможет продать вашу недвижимость на самых выгодных условиях.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-6">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/agents/agent1-x2_720x560_7ee.webp 2x, ./assets/cache_image/agents/agent1-x2_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/agents/agent1-x2_720x560_b37.jpg 2x, ./assets/cache_image/agents/agent1-x2_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/agents/agent1-x2_360x280_024.jpg" data-src="./assets/cache_image/agents/agent1-x2_360x280_3f0.jpg" alt="Эльвина  Каримова " width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Эльвина </span><span>Каримова </span></div>
                                <div class="agents__text">Продажа, покупка и аренда городской недвижимости.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-7">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/agents/agent2-x2_720x560_7ee.webp 2x, ./assets/cache_image/agents/agent2-x2_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/agents/agent2-x2_720x560_b37.jpg 2x, ./assets/cache_image/agents/agent2-x2_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/agents/agent2-x2_360x280_024.jpg" data-src="./assets/cache_image/agents/agent2-x2_360x280_3f0.jpg" alt="Наталья  Горбунова " width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Наталья </span><span>Горбунова </span></div>
                                <div class="agents__text">Продажа и покупка городской недвижимости. Отлично знает как купить самый подходящий для клиента объект и выгодно его продать.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-8">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/agents/600_720x560_7ee.webp 2x, ./assets/cache_image/agents/600_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/agents/600_720x560_b37.jpg 2x, ./assets/cache_image/agents/600_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/agents/600_360x280_024.jpg" data-src="./assets/cache_image/agents/600_360x280_3f0.jpg" alt="Юлия Закаблук" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Юлия</span><span>Закаблук</span></div>
                                <div class="agents__text">Продажа и покупка городской недвижимости по всей России</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-9">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/team/snimok-ekrana-2024-02-26-v-15.57.07_720x560_7ee.webp 2x, ./assets/cache_image/team/snimok-ekrana-2024-02-26-v-15.57.07_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/team/snimok-ekrana-2024-02-26-v-15.57.07_720x560_b37.jpg 2x, ./assets/cache_image/team/snimok-ekrana-2024-02-26-v-15.57.07_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/team/snimok-ekrana-2024-02-26-v-15.57.07_360x280_024.jpg" data-src="./assets/cache_image/team/snimok-ekrana-2024-02-26-v-15.57.07_360x280_3f0.jpg" alt="Дарья Богданова" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Дарья</span><span>Богданова</span></div>
                                <div class="agents__text">Помогу вам с продажей и покупкой квартиры в Москве, МО или регионе</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-10">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/600a6397_720x560_7ee.webp 2x, ./assets/cache_image/600a6397_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/600a6397_720x560_b37.jpg 2x, ./assets/cache_image/600a6397_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/600a6397_360x280_024.jpg" data-src="./assets/cache_image/600a6397_360x280_3f0.jpg" alt="Иван Дайнеко" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Иван</span><span>Дайнеко</span></div>
                                <div class="agents__text">Реализация вашего объекта недвижимости по Москве и МО</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-11">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/600a6462_720x560_7ee.webp 2x, ./assets/cache_image/600a6462_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/600a6462_720x560_b37.jpg 2x, ./assets/cache_image/600a6462_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/600a6462_360x280_024.jpg" data-src="./assets/cache_image/600a6462_360x280_3f0.jpg" alt="Евгения Архипова" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Евгения</span><span>Архипова</span></div>
                                <div class="agents__text">Индивидуальный подход к каждому клиенту, осуществим вашу мечту по покупке квартиры в Москве, МО или регионе!</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-12">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/team/snimok-ekrana-2024-02-27-v-10.18.43_720x560_7ee.webp 2x, ./assets/cache_image/team/snimok-ekrana-2024-02-27-v-10.18.43_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/team/snimok-ekrana-2024-02-27-v-10.18.43_720x560_b37.jpg 2x, ./assets/cache_image/team/snimok-ekrana-2024-02-27-v-10.18.43_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/team/snimok-ekrana-2024-02-27-v-10.18.43_360x280_024.jpg" data-src="./assets/cache_image/team/snimok-ekrana-2024-02-27-v-10.18.43_360x280_3f0.jpg" alt="Сергей Шаленый" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Сергей</span><span>Шаленый</span></div>
                                <div class="agents__text">Продажа и покупка недвижимости по всей России.</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-13">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-20-v-11.16.18_720x560_7ee.webp 2x, ./assets/cache_image/snimok-ekrana-2024-08-20-v-11.16.18_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-20-v-11.16.18_720x560_b37.jpg 2x, ./assets/cache_image/snimok-ekrana-2024-08-20-v-11.16.18_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/snimok-ekrana-2024-08-20-v-11.16.18_360x280_024.jpg" data-src="./assets/cache_image/snimok-ekrana-2024-08-20-v-11.16.18_360x280_3f0.jpg" alt="Наталья Малютина" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Наталья</span><span>Малютина</span></div>
                                <div class="agents__text">Покупка и продажа квартир в Москве.</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-14">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/team/snimok-ekrana-2024-02-27-v-10.30.02_720x560_7ee.webp 2x, ./assets/cache_image/team/snimok-ekrana-2024-02-27-v-10.30.02_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/team/snimok-ekrana-2024-02-27-v-10.30.02_720x560_b37.jpg 2x, ./assets/cache_image/team/snimok-ekrana-2024-02-27-v-10.30.02_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/team/snimok-ekrana-2024-02-27-v-10.30.02_360x280_024.jpg" data-src="./assets/cache_image/team/snimok-ekrana-2024-02-27-v-10.30.02_360x280_3f0.jpg" alt="Александр Богданов" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Александр</span><span>Богданов</span></div>
                                <div class="agents__text">Покупка и продажа квартир по Москве и МО.</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-15">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/logotip-na-chernom-fonecmyk-1a_720x560_7ee.webp 2x, ./assets/cache_image/logotip-na-chernom-fonecmyk-1a_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/logotip-na-chernom-fonecmyk-1a_720x560_b37.jpg 2x, ./assets/cache_image/logotip-na-chernom-fonecmyk-1a_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/logotip-na-chernom-fonecmyk-1a_360x280_024.jpg" data-src="./assets/cache_image/logotip-na-chernom-fonecmyk-1a_360x280_3f0.jpg" alt="Никита  Сушко" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Никита </span><span>Сушко</span></div>
                                <div class="agents__text">Сделки с недвижимостью по всей России.</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-16">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.07.34_720x560_7ee.webp 2x, ./assets/cache_image/snimok-ekrana-2024-08-15-v-11.07.34_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.07.34_720x560_b37.jpg 2x, ./assets/cache_image/snimok-ekrana-2024-08-15-v-11.07.34_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.07.34_360x280_024.jpg" data-src="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.07.34_360x280_3f0.jpg" alt="Дмитрий  Медведев" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Дмитрий </span><span>Медведев</span></div>
                                <div class="agents__text">Продажа и покупка недвижимости по Москве и Московской области.

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-17">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.09.46_720x560_7ee.webp 2x, ./assets/cache_image/snimok-ekrana-2024-08-15-v-11.09.46_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.09.46_720x560_b37.jpg 2x, ./assets/cache_image/snimok-ekrana-2024-08-15-v-11.09.46_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.09.46_360x280_024.jpg" data-src="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.09.46_360x280_3f0.jpg" alt="Павел Сердюков" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Павел</span><span>Сердюков</span></div>
                                <div class="agents__text">Продажа и подбор городской и загородной недвижимости во всех регионах России.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-18">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.14.02_720x560_7ee.webp 2x, ./assets/cache_image/snimok-ekrana-2024-08-15-v-11.14.02_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.14.02_720x560_b37.jpg 2x, ./assets/cache_image/snimok-ekrana-2024-08-15-v-11.14.02_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.14.02_360x280_024.jpg" data-src="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.14.02_360x280_3f0.jpg" alt="Кристина Кузьмина" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Кристина</span><span>Кузьмина</span></div>
                                <div class="agents__text">Приобретение, продажа и аренда квартиры в Москве, МО и регионах.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-19">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.16.25_720x560_7ee.webp 2x, ./assets/cache_image/snimok-ekrana-2024-08-15-v-11.16.25_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.16.25_720x560_b37.jpg 2x, ./assets/cache_image/snimok-ekrana-2024-08-15-v-11.16.25_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.16.25_360x280_024.jpg" data-src="./assets/cache_image/snimok-ekrana-2024-08-15-v-11.16.25_360x280_3f0.jpg" alt="Валерия Люстгартен" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Валерия</span><span>Люстгартен</span></div>
                                <div class="agents__text">Покупка и продажа квартир по Москве и области.</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agents__item js-show-modal" data-item="team-20">
                                <picture class="agents__img" data-aos="animation-picture" data-aos-offset="200">
                                    <source type="image/webp" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-15-v-12.06.13_720x560_7ee.webp 2x, ./assets/cache_image/snimok-ekrana-2024-08-15-v-12.06.13_360x280_457.webp 1x">
                                    <source type="image/jpeg" data-srcset="./assets/cache_image/snimok-ekrana-2024-08-15-v-12.06.13_720x560_b37.jpg 2x, ./assets/cache_image/snimok-ekrana-2024-08-15-v-12.06.13_360x280_3f0.jpg 1x">
                                    <img class="swiper-lazy" src="./assets/cache_image/snimok-ekrana-2024-08-15-v-12.06.13_360x280_024.jpg" data-src="./assets/cache_image/snimok-ekrana-2024-08-15-v-12.06.13_360x280_3f0.jpg" alt="Александр Ильин" width="360" height="280" role="presentation">
                                </picture>

                                <div class="agents__name"><span>Александр</span><span>Ильин</span></div>
                                <div class="agents__text">Сделки с недвижимостью в Москве и Московской области.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%= htmlWebpackPlugin.options.widgets.feedback %>
</main>

<%= htmlWebpackPlugin.options.widgets.footer %>

<%= htmlWebpackPlugin.options.widgets.modalFeedback %>
<%= htmlWebpackPlugin.options.widgets.modalAgents %>

<%= htmlWebpackPlugin.options.widgets.scripts %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
