$color_black: #252525;
$color_white: #fff;
$color_yellow: #EEAE28;
$color_grey: #515151;

$transition: 0.5s ease;

/* Libs */
@import "libs/swiper-bundle.min";
@import "libs/aos";
@import "libs/nice-select2";

/* System */
@import "includes/reboot";
@import "includes/grid";
@import "includes/fonts";
@import "includes/default";

/* UI */
@import "includes/btn";
@import "includes/text";
@import "includes/hidden-scroll";

/* Blocks */
@import "includes/section";
@import "includes/main";
@import "includes/header";
@import "includes/intro";
@import "includes/checkbox";
@import "includes/main-section";
@import "includes/nav";
@import "includes/nav-mobile";
@import "includes/services";
@import "includes/feedback";
@import "includes/form";
@import "includes/footer";
@import "includes/pluses";
@import "includes/team";
@import "includes/agents";
@import "includes/carousel";
@import "includes/video";
@import "includes/agents-modal";
@import "includes/contacts";
@import "includes/rooms";
@import "includes/other-services";
@import "includes/partners";
@import "includes/download";
@import "includes/reviews";
@import "includes/cookies";
@import "includes/animation";
@import "includes/banner";
@import "includes/factoids";
@import "includes/rating";
@import "includes/slider-reviews";
@import "includes/article-factoid";
@import "includes/article-review";
@import "includes/article-advantage";
@import "includes/dropdown-reviews";
@import "includes/button-arrow";
@import "includes/tabs";
@import "includes/picture";
@import "includes/questionnaire";
@import "includes/form-questionnaire";
@import "includes/progress";
@import "includes/slider-preview";
@import "includes/article-preview";
@import "includes/pagination";
@import "includes/slider-services";
@import "includes/list-profits";
@import "includes/article-profit";
@import "includes/grid-partners";
@import "includes/article-partner";
@import "includes/article-partner-modal";
@import "includes/preview-partner";
@import "includes/modal-partner";

@import "includes/service";

@media (max-width: 1280px) {

}
