<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Региональные сделки</title>
    <%= htmlWebpackPlugin.options.widgets.meta %>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.widgets.header %>
<%= htmlWebpackPlugin.options.widgets.nav %>
<%= htmlWebpackPlugin.options.widgets.navMobile %>

<main class="main rooms" role="main">
    <%= htmlWebpackPlugin.options.widgets.innerIntroRegions %>
    <%= htmlWebpackPlugin.options.widgets.serviceImgRegions %>
    <%= htmlWebpackPlugin.options.widgets.serviceBlocksRegions %>
    <%= htmlWebpackPlugin.options.widgets.plusesBlackRegions %>
    <%= htmlWebpackPlugin.options.widgets.bannerRegions %>
    <%= htmlWebpackPlugin.options.widgets.feedback %>
</main>

<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.modalFeedback %>
<%= htmlWebpackPlugin.options.widgets.thankYou %>
<%= htmlWebpackPlugin.options.widgets.scripts %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
