<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Коммерческая недвижимость</title>
    <%= htmlWebpackPlugin.options.widgets.meta %>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.widgets.header %>
<%= htmlWebpackPlugin.options.widgets.nav %>
<%= htmlWebpackPlugin.options.widgets.navMobile %>

<main class="main rooms" role="main">
    <%= htmlWebpackPlugin.options.widgets.innerIntroCommerce %>
    <%= htmlWebpackPlugin.options.widgets.serviceImgCommerce %>
    <%= htmlWebpackPlugin.options.widgets.serviceBlocksCommerce %>
    <%= htmlWebpackPlugin.options.widgets.plusesBlackCommerce %>
    <%= htmlWebpackPlugin.options.widgets.bannerCommerce %>

    <%= htmlWebpackPlugin.options.widgets.feedback %>
</main>

<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.scripts %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
