<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новостройки</title>
    <%= htmlWebpackPlugin.options.widgets.meta %>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.widgets.header %>
<%= htmlWebpackPlugin.options.widgets.nav %>
<%= htmlWebpackPlugin.options.widgets.navMobile %>

<main class="main" role="main">
    <%= htmlWebpackPlugin.options.widgets.innerIntroNovostrojki %>
    <%= htmlWebpackPlugin.options.widgets.serviceImgNovostrojki %>
    <%= htmlWebpackPlugin.options.widgets.plusesBlackNovostrojki %>
    <%= htmlWebpackPlugin.options.widgets.plusesGreyNovostrojki %>
    <%= htmlWebpackPlugin.options.widgets.partnersNovostrojki %>
    <%= htmlWebpackPlugin.options.widgets.feedback %>
</main>

<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.scripts %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
